* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-bottom: 1px solid #494949;
    -webkit-text-fill-color: whitesmoke;
    -webkit-box-shadow: 0 0 0px 1000px #242436 inset;
    transition: background-color 5000s ease-in-out 0s;
}



body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/background_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.userLogo {
    width: 70px;
    height: 70px;
    background-color: #00266d;
    border-radius: 50%;
    position: absolute;
    top: +10px;
    left: calc(50% - 35px);
    box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.627);
}

#form {
    width: 500px;
    height: 680px;
    background-color: #242436eb;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 87px 85px 80px;
    
}

.label_input{
    font-size: 10px;
    color: whitesmoke;
    margin-top: 12px;
}


#form h1 {
    text-align: center;
    padding: 0 0 7px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.627);
    color: whitesmoke;
}

.button {
    margin-top: 17px;
    margin-bottom: 5px;
    border: none;
    text-align: center;
    transition: all 0.5s;
 
    width: 100%;
    height: 33px;
    left: 824px;
    top: 820px;
    border-radius: 2px;
    background-color: #334976;
    color: #fff;
    font-size: 14px;
    text-shadow: 4px 0px 5px #222;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
    text-shadow: 12.5px 0px 10px #222;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    height: 36px;
    font-size: 13px;
    width: 100%;
    border-bottom: 1px solid #494949
}


.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.checkbox_input{
    display: none;
}

.checkbox_input:checked + .checkbox_label::after {
    transform: scale(1);
}

.checkbox_label{
    font-size: 14px;
    line-height: 140%;
    width: 200px;
    color: #7F7F7F;
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.checkbox_label::before {
    content: "";
    align-self: flex-start;
    flex: 0 0 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 4px;
    margin: 0px 10px 0px 0px;

}

.checkbox_label::after {
    transition: transform 0.5s ease 0s;
    content: "";
    width: 13px;
    height: 12px;
    position: absolute;
    top: 2px;
    left: 1px;
    background-color: #334976;
    border-radius: 3px;
    transform: scale(0);
}





.checkbox_label.error{
    color: #ff3860;
}

.checkbox_label.done{
    color: #09c372;
}

.pass-icon {
    position: absolute;
    right: 90px;
    top: 67.5%;
    cursor: pointer;
}

.confirm-pass-icon {
    position: absolute;
    right: 90px;
    top: 78.5%;
    cursor: pointer;
}


.haveAcc {
    color: #7F7F7F;
    font-size: 10px;
    margin-top: 5px;
    text-align: center;
}

.haveAcc a {
    color: #4B72C2;
    text-decoration: none;
}

.swal-modal {
    background-color: #242436;
    border: 1px solid #494949;
    
}

.swal-text {
    font-size: 15px;
    padding: 10px;
    display: block;
    margin: 22px;
    text-align: center;
    color: whitesmoke;
}

.swal-title {
    color: white;
    margin: 0px;
    font-size: 18px;
    box-shadow: 0px 1px 1px #494949;
    margin-bottom: 20px;
    font-weight: 500;
}